body {  
   font-family:'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;  
    margin-top: 40px;
    line-height:16px;
}
.header{
  background: #34495e;
}
.header a{
    color: white!important;
    }
    
.navbar-inverse .navbar-nav > li > a:hover{
  background:#eee;
  color:#34495e!important;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}
    
h1, h2, h3, h4, h5, h6 {
   font-family:'Open Sans', sans-serif;
   font-weight: 500;
   line-height:40px;   
}
img {
  max-width: 100%;
}
.btn{
    border-radius: 0!important;
}
h1 {
    font-weight: 700;
    color:#1abc9c;
}
.text-center {
    text-align: center; 
}

.main-top-margin {
     margin-top: 75px;
}
.main-low-margin {
     margin-top: 55px;
}

a,a:hover {
    text-decoration:none;
}

p {
    line-height: 30px;
    margin-bottom: 23px;
}

.img-margin-product {
    margin-top:30px;
}
.bottam-pad {
     padding-bottom:40px;
}

#header-section {
	padding-top:90px;
	text-align:center;
	background-position: center center;
	min-height: 700px;
	width: 100%;	
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#header-section h1 {
	font-size: 45px;
	font-weight: 400;
	letter-spacing: 4px;
    line-height:70px;
}

#header-section h2 {
	font-size: 40px;
	font-weight: 700;
	letter-spacing: 4px;
}
.down-icon {
    font-weight:900;
}
/* ==========================================================================
   ABOUT SECTION
   ========================================================================== */

#about-section {
    background-color: #FAFAFA;   
}

/* ==========================================================================
   SERVICES SECTION
   ========================================================================== */
#services-section h3{
    border-bottom: 1px dotted #aaa;
}

#services-section img{
    max-width: 96px;
}
/* ==========================================================================
   PRICE SECTION
   ========================================================================== */
#price-section {
     background-color: #FAFAFA;
}

/* PRICE TABLES */

.pricing {
    padding-bottom: 40px;
}

.pricing .pricing-head {
    position: relative;
    background: #34495e;
    text-align: center;
    font-weight: bold;
    padding: 50px 20px 20px 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}



.special .pricing-head {
    background: black;
}



.pricing .price {
    display: inline-block;
    position: relative;
    color: white;
    font-size: 24px;
}

.pricing .price sup {
    position: absolute;
    top: 50px;
    left: -10px;
    font-size: 24px;
}

.pricing .price .price-amount {
    font-size: 78px;
    letter-spacing: -4px;
}

.pricing .price small {
    position: relative;
    left: -10px;
    font-size: 18px;
}

.pricing ul {
    list-style: none;
    margin: 0;
    background: #eee;
    text-align: center;
    padding-left: 0px;
}

.pricing ul li {
    border-bottom: solid 1px #e1e1e1;
    padding-top: 20px;
    padding-bottom: 20px;
}

.pricing .pricing-grab {
    display: block;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    padding: 20px 12px;
    background: #23B687;
    color:white;
}

.backcolor-li {
    background-color:#B1D9F3;

}

/*==========================================
   SOCIAL ICON STYLES
    =====================================================*/

.color-red {
    color:#D64541;
}


.color-green {
    color:#019875;
}


.color-blue {
    color:#34495e;
}

.color-purple{
  color: #674172;
}
.color-brown {
    color:#F4B350;
}

.color-black {
    color:#6C7A89;
}

.color-facebook {
    color:#3B5998;
}
.color-twitter {
     color:#00aced;
}
.color-google-plus {
     color:#dd4b39;
}
.color-linkedin {
     color:#007bb6;
}
.color-pinterest {
     color:#cb2027;
}

.footer {
    color: #fff; 
    text-align: right; 
    padding: 10px 30px 10px 30px;
    margin-bottom: 0px!important;
}
.margin-top-20{
  margin-top:20px;
}